<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
       <title>Wave generator</title>
  </head>
  <body>
        <script src="/javascripts/jquery.js"></script>

        <script src="/javascripts/socket.js"></script>
        <script>
          var socket=io.connect()
        </script>
    {{{body}}}
  </body>
</html>
