
*{
  padding: 0;
  margin: 0;
}
#form{
  background:white;
  box-shadow:0px 1px 6px #cacaca;
  padding:50px;
}
body{

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.container{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50vh;
  padding: 20px 50px;
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 3px 10px 10px rgba(0,0,0,0.1);
}
input ,select{
  border: none;
  padding: 10px;
  width: 100%;
  border:1px solid #efefef;
  margin: 10px 0;
}
input[type='submit'] {
  border-radius: 5px;
}
input[type='submit']:hover{
  transform:scale(1.1) ;
  background: rgba(200,200,200,0.5);
  
}
main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}